
*{
    background-color: black;
}

.layout{
    width: 50%;
    margin-left: 25%;
    height: 50%;
    position: absolute;
    color:white;
    text-align: center;
    top:25vh;
}

.large-text{
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    font-size: 2rem;
}

.image-viewer{
    width: 100%;
    border: 3px solid white;
}



